@model List<ItensVenda>

@{
    ViewData["Title"] = "Meu Carrinho";
}
<h1>@ViewData["Title"]</h1>

<table class="table table-responsive table-hover text-start">
    <thead>
        <tr>
            <th scope="col">Quantidade</th>
            <th scope="col"></th>
            <th scope="col">Item</th>
            <th scope="col">Preço</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.Quantidade</th>
                <td><img src="@item.ItensModel.URLImagemItem" width="10%" alt="..."></td>
                <td>@item.ItensModel.Nome</td>
                <td>@item.ItensModel.Preco</td>
                <td><a role="button" asp-action="DeletarDoCarrinho" asp-route-id="@item.Id"
                    class="btn btn-danger btn-sm">X</a></td>
            </tr>

        }
    </tbody>
</table>

<br>

@if (Model.Any())
{
    <div class="position-relative top-50 start-50">
        <a role="button" asp-controller="Venda" asp-action="Comprar" class="btn btn-primary btn-lg">Executar venda</a>
    </div>
}else if (!Model.Any()){
    <div class="text-center">
        <h5>Ainda não há itens no seu carrinho, por favor volte a página inicial e faça suas compras :)</h5>
    </div>
}

<br>
<h4 class="text-end">Valor total = @TempData["ValorTotal"]</h4>


